site_name: 6031 百科
docs_dir: src
site_dir: docs
nav:
  - Home: index.md
  - About: about.md
theme:
  name: material
  custom_dir: src/overrides
  logo: assets/images/favicon.png
  favicon: assets/images/favicon.png